* {
    /* border: solid red; */
    box-sizing: border-box; 
    /* makes it so that adding padding does not affect width*/
}
@import url('https://fonts.googleapis.com/css2?family=Radio+Canada&display=swap');

@font-face {
    font-family: Norse-Bold;
    src: url(Norse-Bold.otf);
}

body {
    display: flex;
    margin: 0px;
}

.img {
    max-width: 100%;
    max-height: 100%;
}
.illustration-section {
    width: 40vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.background {
    object-fit: cover;
    width: 100%;
}

.logo-container {
    position: absolute;
    top: 15vh;
    background: black;
    opacity: 0.6;
    display: flex;
    justify-content: center;
    height: 20vh;
    width: inherit;
}
.logo {
    height: auto;
    width: 12vw;
    object-fit: cover;
}
.header {
    font-size: 4vw;
    color: white;
    font-family: Norse-Bold;
    display: flex;
    align-items: center;
}

.image-credit {
    position: absolute;
    bottom: 1vh;
    color:grey;
}
a {
    color: grey;
}
.main-section-container {
    width: 60vw;
    height: 100vh;
}
.main-section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.lrpadding {
    padding-left: 3vw;
    padding-right: 10vw;
}
.main-top-container {
    display: flex;
    justify-content: center;
    background-color: rgb(250, 250, 250);
    padding-top: 15vh;
}
.main-top {
    line-height: 1;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}
.main-mid-container {
    display: flex;
    flex-direction: column;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}
.form-row {
    display: flex;
    justify-content: space-between;
}

form {
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.form-element-container {
    display: flex;
    flex-direction: column;
}
input {
    width: 15vw;
    height: 3vh;
    border-color: #E5E7EB;
    border-radius: 3px;
}
input:focus {
    border-color: blue;
    outline: blue;
}
label {
    font-family: 'Arial', 'Chalkboard SE', 'Comic Neue', sans-serif;
    font-weight: bold;
    font-size: small;
}
#login {
    color: #cccccc;
}
.main-bottom-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(250, 250, 250);
    flex-grow: 1;
    padding-top: 3vh;
    gap: 3vh;
}

.create-account {
    width: 200px;
    height: 50px;
    background-color: #8fcee7;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.create-account-text {
    font-size: larger;
    font-family: 'Radio Canada', sans-serif;
    font-weight: bold;
    text-align: center;
    color: white;
}